.App {
  background-image: url("../src/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App header {
  text-align: center;
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px auto;
}
